*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Noto Sans Avestan', sans-serif;
    font-size: 1rem;
    background-color: black;
    color: white;
   
}

h1{
    font-family: 'Yeseva One', cursive;
    font-size: 6rem;
    
}

h2{
    font-family: 'Yeseva One', cursive;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    padding: 15px;
}

nav{
    padding-top: 4%;
}

section{
    height: auto;
}

ul{
    display: inline-block;
}

ul li{
    display: inline;
    padding: 0px 15px 0px 15px;
}

li{
    /* border: 1px solid white; */
    display: flex;
    padding: 20px 30px 20px 30px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: block;
    align-content: center;
    margin: auto;
    opacity: 1;
    transition: all 350ms;
}

button:hover{
    cursor: pointer;
    opacity: 0.5;
}


a{
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: all 350ms;
}

p{
    padding-bottom: 60px;
}

a:hover{
    text-decoration: underline;
    opacity: 0.8;
}

img{
    display: inline-block;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
    margin: auto;
}

#hero{
    height: 1080px;
    background-image: url(images/hero\ image.png);
    background-size: cover;
    position: relative;
}

#margin-nav{
    width: 50%;
    margin: auto;
}

#margin{
    width: 89%;
    margin: auto;
}

#icon{
    display: flex;
}

#icon-margin{
    margin-right: 15px;
}


#grid-container-nav{
    padding: 0;    
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;
    grid-gap: 0px;
    align-items: center;
    margin: auto;
    width: 100%;
}

#hero-content{
    justify-content: center;
    align-content: center;
    padding-top: 16%;
}

.animate-1{
    animation-name: SlideUp-1;
    animation-duration: 550ms;
    position: relative;


}

@keyframes SlideUp-1 {
    0%{
        top: 35px;
        opacity: 0;
    }

    100%{
        top: 0px;
        opacity: 1;
    }
    
}


#grid-2{
    max-width: 75%;
    margin: auto;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 0px;
    align-items: center;
    margin: auto;
    animation-name: SlideUp-1;
    animation-duration: 550ms;
    position: relative;

    
}


#grid-3{
    max-width: 75%;
    margin: auto;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 15px;
    align-items: top;  
}

.radial{
    background: radial-gradient(58.06% 58.06% at 48.44% 41.94%, rgba(29, 29, 29, 0) 0%, #000000 100%);
    height: 1080px;

}

a .logo{
    border-bottom: 0;
}

.center{
    text-align: center;
    margin-bottom: 15px;
}


.image-1{
    max-width: 483px;
    max-height: 625px;
    background-image: url(images/img1.png);
    text-align: center;
    position: relative;
    margin: auto;
}

.image-2{
    max-width: 483px;
    max-height: 625px;
    background-image: url(images/img2.png);
    text-align: center;
    position: relative;
    margin: auto;
}

.image-3{
    max-width: 483px;
    max-height: 625px;
    background-image: url(images/img3.png);
    text-align: center;
    position: relative;
    margin: auto;
}

.image-1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
}

.image-2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
}

.image-3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
}


.image-1 #text-margin-1{
    position: relative;
    padding-top: 33rem;
    text-align: center ;
    z-index: 1;
}

.image-2 #text-margin-1{
    position: relative;
    padding-top: 33rem;
    text-align: center ;
    z-index: 1;
}

.image-3 #text-margin-1{
    position: relative;
    padding-top: 33rem;
    text-align: center ;
    z-index: 1;
}


 .caption{
    font-size: 1rem;
    padding: 10px;
}

a.span{
    color: #3D74FF;
}

.card{
    width: 100%;
}

.center-image{
    display: flex;
    margin: auto;
}

.bottom-section{
    background-image: url(images/bottom-img.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.bottom-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(49.63% 49.63% at 49.13% 48.52%, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
}

.foot{
    display: inline;
}